<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body{
    height: 100%;
    overflow: auto;
    background: rgb(133, 127, 165);
    background-size: cover;
    background-repeat: no-repeat;
}
</style>
</head>
<body>
  <nav class="nav navbar-inverse">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="https://thumbs.gfycat.com/WildImaginaryDogfish.webp" width="30" height="30" alt="">
  </a>
   <ul class="nav navbar-nav">
      <li><a href="/quiz">Quiz</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
    <h2><kbd>Preferences Quiz Results</kbd></h2>
    <h3><kbd>Property Matches</kbd></h3>
    
<div class="row table-data">
  <table class="styled-table" border="1">
    <thead>
      <tr>
        <th>Address</th>
        <th>Rooms</th>
        <th>Bathrooms</th>
        <th>Number of Units</th>
        <th>Zipcode</th>
        <th>Property Type</th>
        <th>Condition</th>
      </tr>
    </thead>
    <tbody>
  {{#each listings}}
  <tr>
    <td>{{this.fulladdress}}</td>
    <td>{{this.rooms}}</td>
    <td>{{this.bathrm}}</td>
    <td>{{this.num_units}}</td>
    <td>{{this.zipcode}}</td>
    <td>{{this.source}}</td>
    <td>{{this.cndtn}}</td>
  </tr>
  {{/each}}
</tbody>
</table>
</div>
{{#if message}}
    <h4 class="alert alert-danger mt-4">{{message}}</h4>
  {{/if}}
    <h3><kbd>Roommate Matches</kbd></h3>
    <div class="row table-data">
  <table class="styled-table" border="1">
    <thead>
      <tr>
        <th>Username</th>
        <th>Property Type</th>
        <th>Rooms</th>
        <th>Bathrooms</th>
        <th>Units</th>
        <th>Condition</th>
      </tr>
    </thead>
    <tbody>
  {{#each user}}
  <tr>
    <td>{{username}}</td>
    <td>{{property_type}}</td>
    <td>{{num_rooms}}</td>
    <td>{{num_bathrom}}</td>
    <td>{{units}}</td>
    <td>{{condition}}</td>
  </tr>
  {{/each}}
</tbody>
</table>
</div>
</div>
</body>
</html>
